<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.testdemo.model.dao.BoardDao">
	<insert id="write" parameterType="Board">
		insert into board(user_id, date, startdate, enddate) values(#{userId}, now(), #{startdate}, #{enddate})
	</insert>
	
	<select id="getEntireBoard" resultType="Board">
		select * from board
	</select>
	
	<select id="getBoard" resultType="Board" parameterType="int">
		select * from board where id=#{id}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from board where id=${id} 
	</delete>
</mapper>